* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-color: white;
  --bg-url: url(https://i.pinimg.com/originals/b5/c8/fd/b5c8fd45bfc9734c4e167ebb294abe38.jpg);
}

.light{
  --text-color: black;
  --bg-url: url(https://github.com/gabadas/projectrocket/blob/main/assets/astethic.jpg?raw=true);
  --stroke-color:     
}


body {
  background: var(--bg-url) no-repeat top center/cover;
  backdrop-filter: blur(8px);
}

body * {
  font-family: "Inter", sans-serif;
  color: var(--text-color);
}

#container {
  width: 360px;
  margin: 56px auto 0px;
  padding: 0 24px;
}


#profile {
  text-align: center;
  padding: 24px;
}

#profile img {
  width: 112px;
}

#profile p {
  font-weight: 500;
  line-height: 24px;
  padding: 8px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 42px;
  height: 16px;
}

.switch input {
  display: none;
}

.switch label {
  background-color: #ccc;
  border-radius: 34px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.switch input:checked + label {
  background-color: mediumvioletred; /* Cor quando o switch está ativado */
}

.switch label::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #fff;
  top: 0px;
  left: 0px;
  transition: transform 0.2s ease;
}

.switch input:checked + label::before {
  transform: translateX(26px);
}


ul{
  list-style: none;

  display: flex;
  flex-direction: column;
  gap: 16px;

  padding: 24px 0;
}

ul li a {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 16px 24px;

  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 8px;

  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);

  text-decoration: none;
  font-weight: 500;

  transition: background 0.2s;
}

ul li a:hover {
  background: rgba(255, 255, 255, 0.05);
  border: 1.5px solid var(--text-color);
}


#social-links {
  display: flex;
  justify-content: center;
  

  padding: 24px 0;


  font-size: 24px;
}

#social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  border-radius: 50%;

  transition: background 0.2s;
}

#social-links a:hover {
  background: rgba(255, 255, 255, 0.2);
}

footer {
  padding: 24px 0;
  text-align: center;
  font-size: 14px;
}