* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url(https://github.com/gabadas/projectrocket/blob/main/assets/bg-mobile.jpg?raw=true) no-repeat top center/cover;
}

body * {
  font-family: "Inter", sans-serif;
  color: white;
}

#container {
  width: 360px;
  height: 720px;
  margin: auto;
  padding-top: 56px;
}

#profile {
  text-align: center;
  padding: 24px;
}

#profile img {
  width: 112px;
}

#profile p {
  font-weight: 500;
  line-height: 24px;
  padding: 8px;
}
